@{
    ViewData["Title"] = "Announcment";
}


    <form asp-controller="Announcement" asp-action="Post" method="POST">
        <textarea name="message"></textarea>
        <input type="submit" value="Send" />
    </form>


