@addTagHelper  *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Announcement Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
</head>
<body>
    <form asp-controller="Announcement" asp-action="Post" method="POST">
        <textarea name="message"></textarea>
        <input type="submit" value="Send" />
    </form>
</body>
</html>